Repository vorhall-org/stencil-storybook-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:es, npm run lint:styles

.lintstagedrc:

{
  "*.ts": "npm run lint:es",
  "*.tsx": "npm run lint:es",
  "*.mjs": "npm run lint:es",
  "*.js": "npm run lint:es",
  "*.scss": "npm run lint:styles",
}

Add commitlint
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run lint:es

chore: run commitlint as commit-msg hook
  .husky/commit-msg
  package.json
Due: none

chore: remove bash comment and script location
  .husky/commit-msg
Due: none

chore: use mjs extension
  commitlint.config.mjs
Due: npm run lint:es

chore: add hydrate dir
  .gitignore
Due: none

chore: remove obsolete prettier config
  .prettierrc.json
Due: none

chore: remove obsolete project service property
  eslint.config.mjs
Due: npm run lint:es

chore: rename package and assets to vorhall
  package-lock.json
  package.json
Due: none

chore: remove stnecil config from inclusion
  tsconfig.json
Due: none

chore: rename package and assets to vorhall
  .storybook/preview-head.html
Due: none

chore: add project config for reuse in various places
  project-config.ts
Due: npm run lint:es

build: add event-sync rollup extension
  stencil-build-helpers/rollup/event-sync.ts
Due: npm run lint:es

build: use event-sync and project config
  stencil.config.ts
Due: npm run lint:es

chore: rename package and assets to vorhall
  src/index.html
Due: none

feat: add sample event
  src/components/my-component/my-component.tsx
Due: npm run lint:es

feat: add auto-generated events-file
  src/components/my-component/my-component.events.ts
Due: npm run lint:es

chore: update after build
  src/components.d.ts
Due: npm run lint:es

docs: update after build
  src/components/my-component/readme.md
Due: none

docs: remove and add todo's
  TODO.md
Due: none

docs: remove leftovers from default stencil readme
  readme.md
Due: none

docs: add todo
  TODO.md
Due: none

chore: update repo url
  package.json
Due: none

chore: don't use typescript
  project-config.ts
Due: npm run lint:es

chore: support CJS and ESM imports
  project-config.js
Due: npm run lint:es

chore: run stylelint directly instead of npm script
  .lintstagedrc
Due: none

chore: import project config correctly
  stencil.config.ts
Due: npm run lint:es

chore: import event-sync correctly
  stencil-build-helpers/rollup/event-sync.ts
Due: npm run lint:es

chore: add boilerplate code for new components
  convenience/generate-component/boilerplate/component.component.scss
  convenience/generate-component/boilerplate/component.custom.d.ts
  convenience/generate-component/boilerplate/component.e2e.ts
  convenience/generate-component/boilerplate/component.spec.ts
  convenience/generate-component/boilerplate/component.stories.tsx
  convenience/generate-component/boilerplate/component.tsx
Due: npm run lint:es, npm run lint:styles

chore: add node script to generate new component from boilerplate
  convenience/generate-component/index.js
Due: npm run lint:es

chore: allow console, process and require in es globals
  eslint.config.mjs
Due: npm run lint:es

chore: ignore boilerplate
  .stylelintrc.json
Due: none

chore: use custom component generate script
  package.json
Due: none

chore: install globals package
  package-lock.json
  package.json
Due: none

chore: use globals, add es rules to ts files as well
  eslint.config.mjs
Due: npm run lint:es

chore: add ignore pattern for h in stencil components
  lint/es-rules.mjs
  lint/ts-rules.mjs
Due: npm run lint:es

docs: remove todo's
  TODO.md
Due: none

chore: reorder scripts
  package.json
Due: none

style: add basic scss helpers/mixings etc
  src/styles/functions.scss
  src/styles/mediaqueries.scss
  src/styles/normalize.scss
  src/styles/utilities.scss
  src/styles/variables.scss
Due: npm run lint:styles

chore: inject helpers etc to to sass plugin
  stencil.config.ts
Due: npm run lint:es

chore: update boilderplate
  convenience/generate-component/boilerplate/component.component.scss
  convenience/generate-component/boilerplate/component.scss
  convenience/generate-component/boilerplate/component.stories.tsx
Due: npm run lint:es, npm run lint:styles
