Repository vorhall-org/stencil-storybook-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:es, npm run lint:styles

.lintstagedrc:

{
  "*.ts": "npm run lint:es",
  "*.tsx": "npm run lint:es",
  "*.mjs": "npm run lint:es",
  "*.js": "npm run lint:es",
  "*.scss": "npm run lint:styles",
}

fix: remove styles directory
  convenience/generate-component/index.js
Due: npm run lint:es

style: check if mediqueries, variables and functions work
  src/components/my-component/my-component.scss
  src/components/my-component/my-component.tsx
Due: npm run lint:es, npm run lint:styles

docs: add todo
  TODO.md
Due: none

chore: remove obsolete component
  src/components/my-component/my-component.e2e.ts
  src/components/my-component/my-component.events.ts
  src/components/my-component/my-component.scss
  src/components/my-component/my-component.spec.ts
  src/components/my-component/my-component.stories.tsx
  src/components/my-component/my-component.tsx
  src/components/my-component/readme.md
Due: npm run lint:es, npm run lint:styles

feat: add more extensive sample component as reference
  src/components/my-button/my-button.custom.d.ts
  src/components/my-button/my-button.e2e.ts
  src/components/my-button/my-button.events.ts
  src/components/my-button/my-button.scss
  src/components/my-button/my-button.spec.ts
  src/components/my-button/my-button.stories.tsx
  src/components/my-button/my-button.tsx
  src/components/my-button/readme.md
Due: npm run lint:es, npm run lint:styles

chore: update after build
  src/components.d.ts
Due: npm run lint:es

docs: remove/add todos
  TODO.md
Due: none

test: fix tests for sample component
  src/components/my-button/my-button.e2e.ts
  src/components/my-button/my-button.spec.ts
  src/components/my-button/my-button.stories.tsx
  src/components/my-button/readme.md
Due: npm run lint:es

test: run tests on src folder only
  stencil.config.ts
Due: npm run lint:es

chore: update boilerplate with more minimalistic example
  convenience/generate-component/boilerplate/component.custom.d.ts
  convenience/generate-component/boilerplate/component.e2e.ts
  convenience/generate-component/boilerplate/component.spec.ts
  convenience/generate-component/boilerplate/component.stories.tsx
  convenience/generate-component/boilerplate/component.tsx
Due: npm run lint:es

docs: update documentation
  readme.md
Due: none

docs: remove todos
  TODO.md
Due: none

chore: remove obsolete JSX types, remove obsolete argtypes
  src/components/my-button/my-button.stories.tsx
Due: npm run lint:es

chore: update boilerplate to remove obsolete jsx types
  convenience/generate-component/boilerplate/component.stories.tsx
Due: npm run lint:es

chore: uninstall chromatic and test addon
  .storybook/main.js
  package-lock.json
  package.json
Due: npm run lint:es

docs: remove todo
  TODO.md
Due: none

chore: update after fresh install
  package-lock.json
Due: none

chore: delete obsolete utils
  src/utils/utils.spec.ts
  src/utils/utils.ts
Due: npm run lint:es

chore: remove obsolete utils export
  src/index.ts
Due: npm run lint:es

test: remove unit test files
  convenience/generate-component/boilerplate/component.spec.ts
  src/components/my-button/my-button.spec.ts
Due: npm run lint:es

test: install and migrate to playwright
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  tsconfig.json
Due: npm run lint:es

test: rewrite tests for playwright
  convenience/generate-component/boilerplate/component.e2e.ts
  src/components/my-button/my-button.e2e.ts
Due: npm run lint:es

chore: update test script
  package.json
Due: none

test: write sample test to check for event emission
  src/components/my-button/my-button.e2e.ts
  src/components/my-button/my-button.tsx
Due: npm run lint:es

chore: uninstall puppeteer, add proper test:watch script
  package-lock.json
  package.json
Due: none

test: set config to test multiple browsers
  playwright.config.ts
Due: npm run lint:es

test: add more browsers to test in playwright
  playwright.config.ts
Due: npm run lint:es

chore: install axe plugin for playwright
  package-lock.json
  package.json
Due: none

chore: allow PascaleCase for import variables
  lint/ts-rules.mjs
Due: npm run lint:es

fix: fix contrast ratio
  src/components/my-button/my-button.scss
Due: npm run lint:styles

test: add helper to test a11y in general
  src/utils/test/a11y-test.tsx
Due: npm run lint:es

test: use a11y helper
  src/components/my-button/my-button.e2e.ts
Due: npm run lint:es

test: set config to only test one config
  playwright.config.ts
Due: npm run lint:es

test: fix boilerplate test
  convenience/generate-component/boilerplate/component.e2e.ts
  convenience/generate-component/boilerplate/component.tsx
Due: npm run lint:es

Create lint-and-test.yml
  .github/workflows/lint-and-test.yml
Due: none

chore: install playwright in prepare script
  package.json
Due: none

chore: install playwright deps in prepare script as well
  package.json
Due: none
